.background {
  min-height: 95vh;
  background-color: #fffcf7;
}

.gallery {
  display: flex;
  flex-direction: column;
}

.heading {
  font-family: "Poppins",
      "Poppins SC",
      sans-serif;
  margin-top: 0;
  padding-top: 2%;
  margin-left: 2%;
  color: #015669;
}

.newRecipe {
  height: 0vh;
  font-family: "Poppins",
      "Poppins SC",
      sans-serif;
  position: fixed;
  right: 2vh;
  bottom: 2vh;
  z-index: 1000;
  background-color: rgb(43 148 179);
  padding: 2% 3%;
  border-radius: 4vh;
  color: white;
  font-size: 2.7vh;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  align-content: center;
}

.newRecipe:hover {
  background-color: rgb(94, 165, 186);
}

.plus {
  width: 9%;
  height: 2.5vh;
  margin-top: 12%;
  padding-right: 4%;
}

.recipeSquare {
  border-radius: 3%;
  width: 100%;
  height: 66.5vh;
  background: #fcfcfc;
  box-shadow: 0 10px 18px 2px #eae9e9;
  display: flex;
  transition: transform 0.1s;
}

.recipeSquareContainer {
  margin-top: 4%;
  margin-left: 1%;
  margin-right: 1%;
  width: 23%;
  height: 66.5vh;
}

.recipeSquare:hover {
  transform: translate(-1px, -1px);
}

.recipeSquare a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.recipesDisplay {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Poppins",
      "Poppins SC",
      sans-serif;
  padding-right: 3%;
}


.recipeImg {
  width: 100%;
  height: 45vh;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: 4%;
  border-top-left-radius: 4%;
}

.author {
  font-size: 2vh;
  color: #015669;
  margin: 0%;
  margin-right: 2%;
  height: 3vh;
  text-align: end;
}

.yield {
  font-size: 2vh;
  float: left;
  background: rgb(188 220 230 / 48%);
  color: #015669;
  margin: auto;
  padding: 1%;
  padding-right: 3%;
  padding-left: 3%;
  border-radius: 1vh;
  height: 3vh;
  overflow: hidden;
  text-overflow: ellipsis;
}

.yield:hover {
  overflow-x: auto;
}

.recipeTitle {
  color: #015669;
  font-size: 1.23vw;
  padding-left: 7%;
  padding-right: 6%;
  padding-top: 0%;
  text-decoration: none;
  height: 8vh;
  line-height: 3.8vh;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipeTitle:hover {
  overflow-x: auto;
}

.endMessage {
  font-family: "Poppins",
      "Poppins SC",
      sans-serif;
  text-align: center;
  margin: 2%;
}