.background {
  font-family: "Poppins",
      "Poppins SC",
      sans-serif;
  color: #015669;
  min-height: 95vh;
  background: #fffcf7;
}

label {
  font-weight: bold;
}

.galleryNav {
  float: left;
  margin-left: 4%;
  margin-top: 1%;
  color: #015669;
  font-weight: bold;
  font-size: 2.7vh;
  font-family: "Poppins",
    "Poppins SC",
    sans-serif;
  text-decoration-line: none;

}

.topHalf {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 78vh;
  margin-bottom: 2%;
  padding-top: 5%;
  padding-bottom: 2%;
}

.imageWrapper {
  height: 100%;
  width: 53%;
  padding-right: 4%;
}

.fileInput {
  right: 10px; 
  bottom: 10px;
  cursor: pointer;
  height: 48px;
  width: 48px;
  background-size: cover;
  border: none;
  outline: none;
  z-index: 10;
}

.recipeImage {
  width: 86%;
  float: right;
  height: 100%;
  border-radius: 16px;
}

.uploadButton {
  cursor: pointer;
  background-color: #fffcf7;
  opacity: 0.7;
  color: #015669;
  padding: 2vh 4vh;
  border-radius: 2vh;
  font-size: 2.5vh;
  float: right;
  margin-top: -8.2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  min-width: 24%;
  text-wrap: nowrap;
}

.uploadButton:hover {
  background-color: #83b3dca8;
  opacity: 0.9;
}

.uploadIcon {
  width: 5vh;
  height: 4vh;
  cursor: pointer;
  margin-right: 7%;
  padding-bottom: 1%;
}

.recipeSpecs {
  font-family: "Poppins",
      "Poppins SC",
      sans-serif;
  color: #015669;
  display: flex;
  flex-direction: column;
  margin: 2% 2% 2% 0;
  margin-top: 8%;
  margin-right: 0%;
  align-items: flex-start;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.recipeHead {
  width: 20%;
  font-size: 1.8vh;
  color: #fffcf7;;
  background: #015669;
  border-radius: 1vh;
  padding: 1%;
  text-align: center;
  font-weight: 700;
}

.authorTag {
  font-size: 2.5vh;
  color: #015669;
  margin-top: 7%;
}

.editDelete button {
  background: none;
  border: none;
  width: 59.7%;
  height: 6vh;
  font-weight: 600;
  cursor: pointer;
  font-size: 2vh;
  color: #015669;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: solid 1px #015669;
  padding: 3%;
  margin-top: 7%;
  border-radius: 3vh;
}

.editLink {
  width: 56%;
  height: 4vh;
  text-decoration: none;
  color: #015669;
  font-weight: 600;
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #015669;
  padding: 2%;
  padding-left: 1%;
  border-radius: 3vh;
}

.title {
  font-size: 2.4vw;
  margin-top: 4%;
}

.editDelete {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.delete {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.editLink, .delete {
  flex: none;
}

.pencil {
  height: 2.6vh;
  width: 2.4vh;
  margin-right: 9%;
}

.trash {
  height: 3vh;
  width: 3vh;
  margin-right: 5%;
  margin-bottom: 1%;
  padding-left: 2%;
}

.tagsContainer {
  display: flex;
  flex-direction: column;
  height: 78%;
  justify-content: center;
  width: 20%;
  margin-top: 8%;
}

.tagNameContainer {
  width: 44%;
  text-align: center;
  background: white;
  border: 1px solid #015669;
  border-radius: 1.5vh;
  margin-left: 15%;
  margin-top: 12%;
  font-weight: 600;
  color: #015669;
  padding: 1%;
}

.description {
  margin-left: 11%;
  font-size: 2.7vh;
}

.specs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 6%;
}

.specs div {
  border: 2px solid #FFE6D4;
  border-radius: 4%;
  height: 11vh;
  width: 19%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specs p {
  margin-bottom: 1%;
}

.specs label {
  margin-bottom: 2%;
}

.recipeCard {
  min-height: 50vh;
  width: 76%;
  background-color: hsla(189.81, 18.13%, 76.69%, .6);
  padding: 2%;
  box-sizing: border-box;
  overflow: auto;
  margin: 0 auto;
  margin-top: 5%;
}

.recipe {
  font-family: "Poppins",
      "Poppins SC",
      sans-serif;
  margin-left: 5%;
}

.ingredients {
  padding-top: 7%;
}

.ingredients label {
  margin-left: 8%;
  font-size: 4vh;
}

.ingredients p {
  margin-left: 13%;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding-top: 2%;
  line-height: 8vh;
  font-size: 2.8vh;
}

.instructions {
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 100%;
  margin-top: 6%;
  background: #FFE6D4;
  height: 53vh;
}

.instructions label {
  margin-left: 8%;
  font-size: 4vh;
}

.instructions p {
  margin-left: 12%;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding-top: 1%;
  line-height: 5vh;
  font-size: 2.5vh;
}

.recipe p {
  margin-left: 2%;
}



