.footerContainer {
  font-family: "Poppins",
    "Poppins SC",
    sans-serif;
  color: #ebeff0;
  height: 35vh;
  background-color: #015669;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.leftDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 41%;
  height: 100%;
}

.logoDiv {
  display: flex;
  flex-direction: row;
}

.whiteLogo {
  width: 10vh;
  height: 8vh;
  margin: 4%;
  margin-right: 2%;
  margin-top: 3%;
}

.logoDiv p {
  font-size: 4vh;
  /* font-style: italic; */
}

.copyright {
  margin-bottom: 2%;
  margin-left: 3%;
}

.middleDiv {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* margin-top: 3%; */
  /* margin-left: 3%; */
  padding-top: 1.5%;
}

.middleDiv img {
  padding: 2%;
  width: 5vh;
  height: 5vh;
}

.facebookLogo {
  width: 4vh;
  height: 4vh;
}

.instaLogo {
  width: 4vh;
  height: 4vh;
}

.pintLogo {
  width: 4vh;
  height: 4vh;
}

.gitLogo {
  width: 4vh;
  height: 4vh;
}

.rightHalf {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  /* margin-top: 1.5%; */
  /* margin-right: 4%; */
}

.emailContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 4%;
  margin-right: 5%;
}

.emailImage {
  width: 5vh;
  height: 5vh;
  /* margin-top: 3%; */
  margin-right: 3%;
}

.rightHalf h3 {
  font-weight: 600;
  font-size: 2.5vh;
  margin-top: .6%;
  /* margin-right: 3%; */
}

.rightHalf p {

}