.formContainer {
  display: flex;
  flex-direction: column;
  font-family: "Poppins",
      "Poppins SC",
      sans-serif;
  color: #015669;
  width: 90%;
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
  background: antiquewhite;
  height: 68vh;
  border-radius: 9vh;
}

.searchForm {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  width: 100%;
  /* background-image: linear-gradient(135deg, rgb(231 189 174) 50%, rgb(131 24 63) 50%); */
    /* background-image: linear-gradient(324deg, rgb(131 24 63), rgb(131 24 63)); */
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  height: 100%;
  margin-right: 0%;
  padding-left: 2%;
}

.leftSide h2 {
  font-size: 4vh;
  margin: 0%;
}

.keywordInput {
font-family: "Poppins",
    "Poppins SC",
    sans-serif;
height: 6vh;
width: 50%;
padding-left: 3%;
border-radius: 3vh;
/* margin-right: 6%; */
/* border: none; */
border: 1px solid #868080;
background: #fffcf7;
font-size: 2.2vh;
cursor: text;
}

.ownRecipesInput {
  height: 15%;
  width: 44%;
  font-size: 2.7vh;
  /* margin-left: 1%; */
}

.ownRecipesInput input {
  margin-left: 10%;
  accent-color: #015669;
  transform: scale(1.5);
  cursor: pointer;
}

.ownRecipesInput input:hover {
  accent-color: #4c97a6;
  transform: scale(2);
}

/* .ownRecipesInput input[type="checkbox"] {
  background-color: aqua;
} */

.rightSide {
  width: 52%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 5%;

}

.buttonContainer {
  /* text-align: center;  */
  margin-top: 8%;
  margin-bottom: 2%;
}

.searchButton {
  font-weight: 600;
  font-family: "Poppins",
      "Poppins SC",
      sans-serif;
  width: 30%;
  height: 6vh;
  object-position: center;
  font-size: 2.7vh;
  background: rgb(43 148 179);
  border-radius: 3vh;
  border: none;
  /* border: 1px solid #868080; */
  padding-left: 1%;
  color: #fffcf7;
  cursor: pointer;

  /* margin-top: 3%; */
}

.searchButton:hover {
  background-color: rgb(94, 165, 186);
}
