.home {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 37%;
  margin-top: 1%;
  margin-right: 3%;
}

.homePageBackground {
  background-image: url('https://recipe-thyme-content.s3.us-west-1.amazonaws.com/app-images/RecipeThymeHomeBkgrnd.png');
  background-size: 100% auto;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-repeat: no-repeat;
}

.heading {
  font-family: "Poppins",
    "Poppins SC",
    sans-serif;
  color: #015669;
  width: 84%;
  text-align: center;
  font-size: 7.5vh;
  line-height: 161%;
}

.newMemberTxt {
  /* font-family: "Poppins",
    "Poppins SC",
    sans-serif; */
  font-family: "Montserrat",
    monospace,
    sans-serif;
  color: #015669;
  width: 78%;
  text-align: center;
  font-size: 4vh;
  margin-top: 11%;
}

.signupButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(43 148 179);
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 2.9vh;
  letter-spacing: .5px;
  font-weight: bolder;
  font-family: "Poppins",
    "Poppins SC",
    sans-serif;
  margin-top: 11%;
  /* margin-left: 20%; */
  /* height: 25px; */
  /* padding-top: 4%; */
}

.signupButton:hover {
  background-color: rgb(86, 170, 196);
}